
#user  nobody;
worker_processes  1;

#error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

#pid        logs/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    #log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
    #                  '$status $body_bytes_sent "$http_referer" '
    #                  '"$http_user_agent" "$http_x_forwarded_for"';

    #access_log  logs/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    #gzip  on;

    server {
        listen       8080;
        server_name  localhost;

        #charset koi8-r;

        #access_log  logs/host.access.log  main;

        location / {
            root   html;
            index  index.html index.htm;
        }

        #error_page  404              /404.html;

        # redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }

        # proxy the PHP scripts to Apache listening on 127.0.0.1:80
        #
        #location ~ \.php$ {
        #    proxy_pass   http://127.0.0.1;
        #}

        # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
        #
        #location ~ \.php$ {
        #    root           html;
        #    fastcgi_pass   127.0.0.1:9000;
        #    fastcgi_index  index.php;
        #    fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
        #    include        fastcgi_params;
        #}

        # deny access to .htaccess files, if Apache's document root
        # concurs with nginx's one
        #
        #location ~ /\.ht {
        #    deny  all;
        #}
    }


    # another virtual host using mix of IP-, name-, and port-based configuration
    #
    #server {
    #    listen       8000;
    #    listen       somename:8080;
    #    server_name  somename  alias  another.alias;

    #    location / {
    #        root   html;
    #        index  index.html index.htm;
    #    }
    #}


    # HTTPS server
    #
    #server {
    #    listen       443 ssl;
    #    server_name  localhost;

    #    ssl_certificate      cert.pem;
    #    ssl_certificate_key  cert.key;

    #    ssl_session_cache    shared:SSL:1m;
    #    ssl_session_timeout  5m;

    #    ssl_ciphers  HIGH:!aNULL:!MD5;
    #    ssl_prefer_server_ciphers  on;

    #    location / {
    #        root   html;
    #        index  index.html index.htm;
    #    }
    #}
	server {
	     listen 80;
	     charset utf-8;
	     root /home/haiping/Project/superfans-page/video-highlight/src/public;
	     server_name hotfeed.test.weibo.com;

	     location / {
	         index index.php index.html index.htm;
	         if (-f $request_filename) {
	             break;
	         }
	         if (-d $request_filename) {
	             break;
	         }
	         if ($request_filename !~ (statics|index\.php.*) ) {
	             rewrite ^/(.*)$ /index.php/$1 last;
	             break;
	         }
	     }
	     location ~ /index.php/ {
	         fastcgi_index index.php;
	         fastcgi_pass 127.0.0.1:9000;
	         include fastcgi_params;
	         include weiboad_fastcgi_params;
	         fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
	         fastcgi_read_timeout 600;
	     }

	     location ~ \.php$ {
	         fastcgi_index index.php;
	         fastcgi_pass 127.0.0.1:9000;
	         include fastcgi_params;
	         include weiboad_fastcgi_params;
	         fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
	         fastcgi_read_timeout 600;
	     }
     
 	}

 	server {
	     listen 80;
	     charset utf-8;
	     root /Users/hypin/project/bp-fe/;
	     server_name brand.test.162.weibo.com;

	     location  / {
		      rewrite ^/app/([0-9A-Za-z]+)$ /page/app/$1/index.shtml last;
		      rewrite ^/app/([0-9A-Za-z]+)/([0-9A-Za-z]+)$ /page/app/$1/$2.shtml last;
		      rewrite ^/([0-9A-Za-z]+)/([0-9A-Za-z]+)$ /trunc/$1/$2.shtml last;
		      rewrite ^/([0-9A-Za-z]+)/([0-9A-Za-z]+)/([0-9A-Za-z]+)$ /trunk/$1/$2-$3.html last;
		      rewrite ^/([0-9A-Za-z]+)/([0-9A-Za-z]+)/([0-9A-Za-z]+)/([0-9A-Za-z]+)$ /trunk/$1/$2-$3-$4.html   last;
		      root /Users/hypin/project/bp-fe/;
		      index index.shtml index.html *.js;  
			
		}
		location /admin/campaign/add.html {
			alias /Users/hypin/project/bp-fe/trunk/_html/feed-add.html;

		}
     
 	}
 	server {
	     listen 80;
	     charset utf-8;
	     server_name hyping.com.cn;
	  	 autoindex       on;
	  	 autoindex_exact_size    on;
	  	 index index.html;
	  	 root /Users/hypin/project/replica-ad/;
	     location  / {
		      rewrite ^/app/([0-9A-Za-z]+)$ /page/app/$1/index.shtml last;
		      rewrite ^/app/([0-9A-Za-z]+)/([0-9A-Za-z]+)$ /page/app/$1/$2.shtml last;
		      rewrite ^/([0-9A-Za-z]+)/([0-9A-Za-z]+)$ /page/$1/$2.shtml last;
		      rewrite ^/([0-9A-Za-z]+)/([0-9A-Za-z]+)/([0-9A-Za-z]+)$ /page/$1/$2-$3.shtml last;
		      rewrite ^/([0-9A-Za-z]+)/([0-9A-Za-z]+)/([0-9A-Za-z]+)/([0-9A-Za-z]+)$ /page/$1/$2-$3-$4.shtml     last;
		      proxy_set_header X-Real-IP $remote_addr;
		      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		      proxy_set_header X-NginX-Proxy true;
		      proxy_set_header x-request-filename $request_filename;
		      proxy_set_header Host             $host;
		      root /Users/hypin/project/replica-ad/dist;
		      index index.shtml index.html *.js;  
			  
		}

 	}
	# 翻版视频广告
	server {
		listen 80;
		server_name 	 videopanel.test.162.weibo.com;
		charset utf-8;
		autoindex on;
		autoindex_exact_size    on;
		index index.html;
		location  /  {
			root /Users/hypin/project/replicad-fe;
			index index.html;
		}
	}
	# json数据接口模拟服务
	  server {
	  	listen 80;
	  	server_name  e.sinajs.cn;
	  	charset utf-8;
	  	autoindex       on;
	  	autoindex_exact_size    on;
	  	index index.html;
		
		location /trunk/js/*.js {
		     root /Users/hypin/project/bp-fe/trunk/js/ ;
		}
		

	  	location  / {
		      rewrite ^/app/([0-9A-Za-z]+)$ /page/app/$1/index.shtml last;
		      rewrite ^/app/([0-9A-Za-z]+)/([0-9A-Za-z]+)$ /page/app/$1/$2.shtml last;
		      rewrite ^/([0-9A-Za-z]+)/([0-9A-Za-z]+)$ /page/$1/$2.shtml last;
		      rewrite ^/([0-9A-Za-z]+)/([0-9A-Za-z]+)/([0-9A-Za-z]+)$ /page/$1/$2-$3.shtml last;
		      rewrite ^/([0-9A-Za-z]+)/([0-9A-Za-z]+)/([0-9A-Za-z]+)/([0-9A-Za-z]+)$ /page/$1/$2-$3-$4.shtml     last;
		      proxy_set_header X-Real-IP $remote_addr;
		      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		      proxy_set_header X-NginX-Proxy true;
		      proxy_set_header x-request-filename $request_filename;
		      proxy_set_header Host             $host;
		      root /Users/hypin/project/bp-fe/;
		      index index.shtml index.html *.js;  
			
		}	
		location /bp/js/ {
		     alias /Users/hypin/project/bp-fe/trunk/js/;
		}
		location /bp/images/ {
		     alias /Users/hypin/project/bp-fe/trunk/images/;
		}
		location /bp/css/ {
		     alias /Users/hypin/project/bp-fe/trunk/css/;	
		} 

	# p-fe project
	#------------------------------------------------------------------
		location /p/scripts/ {
		     alias /Users/hypin/project/p-fe/trunk/scripts/;
		}
		location /p/styles/ {
		     alias /Users/hypin/project/p-fe/trunk/styles/;		
		}

	# mobile-cpm-fe project
	#---------------------------------------------------------------------------------
		location /mcpm/css/pages/admin/order/ {
		     alias /Users/hypin/project/mobi-cpm-fe/trunk/css/pages/admin/order/;		
		}
		location /mcpm/css/modules/ {
		     alias /Users/hypin/project/mobi-cpm-fe/trunk/css/modules/;
		}
		location /mcpm/css/patches/admin/order/ {
		     alias /Users/hypin/project/mobi-cpm-fe/trunk/css/patches/admin/order/;	
		}

		location /mcpm/js/pages/admin/order/ {
		     alias /Users/hypin/project/mobi-cpm-fe/trunk/js/pages/admin/order/;
		}
		location /mcpm/js/widgets/ {
		     alias /Users/hypin/project/mobi-cpm-fe/trunk/js/widgets/;
		}
		location /mcpm/js/modules/ {
		     alias /Users/hypin/project/mobi-cpm-fe/trunk/js/modules/;
		}
		location /mcpm/js/patches/admin/order/ {
		     alias /Users/hypin/project/mobi-cpm-fe/trunk/js/patches/admin/order/;
		}
		# replicad project 
		#------------------------------------------------------------------------
		location /static/ {
			alias /Users/hypin/project/replicad-fe/dist/static/;
		}
	  }
    include servers/*;
}
